/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
/*
=============== 
Variables
===============
*/

/* Theme 1 */
.first-theme {
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  --key-background-hover: hsl(225, 23%, 59%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);

  --toggle-key-hover: hsl(6, 77%, 60%);
  --toggle-key-background: hsl(6, 63%, 50%);
  --toggle-key-shadow: hsl(6, 70%, 34%);

  --special-key-hover: hsl(0, 4%, 95%);
  --special-key-background: hsl(30, 25%, 89%);
  --special-key-shadow: hsl(28, 16%, 65%);

  --text-color: hsl(221, 14%, 31%);
  --text-white: hsl(0, 0%, 100%);

  --shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  --ff-primary: 'League Spartan', sans-serif;
}

/* Theme 2 */
.second-theme {
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  --key-background-hover: hsl(185, 33%, 49%);
  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);

  --toggle-key-hover: hsl(25, 76%, 48%);
  --toggle-key-background: hsl(25, 98%, 40%);
  --toggle-key-shadow: hsl(25, 99%, 27%);

  --special-key-hover: hsl(45, 13%, 94%);
  --special-key-background: hsl(45, 7%, 89%);
  --special-key-shadow: hsl(35, 11%, 61%);

  --text-color: hsl(60, 10%, 19%);
  --text-white: hsl(0, 0%, 100%);

  --shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  --ff-primary: 'League Spartan', sans-serif;
}

/* Theme 3 */
.third-theme {
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  --key-background-hover: hsl(281, 65%, 39%);
  --key-background: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);

  --toggle-key-hover: hsl(176, 79%, 63%);
  --toggle-key-background: hsl(176, 100%, 44%);
  --toggle-key-shadow: hsl(177, 92%, 70%);

  --special-key-hover: hsl(268, 39%, 27%);
  --special-key-background: hsl(268, 47%, 21%);
  --special-key-shadow: hsl(290, 70%, 36%);

  --text-color: hsl(52, 100%, 62%);
  --text-white: hsl(0, 0%, 100%);

  --shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  --ff-primary: 'League Spartan', sans-serif;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: var(--ff-primary);
  background-color: var(--main-background);
  font-size: 32px;
  transition: 0.3s all ease-in;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.calculator-container {
  width: 92vw;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .calculator-container {
    width: 50vw;
    max-width: 450px;
  }
}

input:focus {
  outline: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2 {
  color: var(--text-color);
}
/*
=============== 
Header
===============
*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.theme-switcher-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.theme-switcher {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  background-color: var(--toggle-background);
  padding: 4px 4px;
  border-radius: 2rem;
  cursor: pointer;
}

.switch {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--toggle-key-background);
  transition: 0.4s all linear;
}
.active-2 {
  transform: translateX(calc(1.2rem + 8px));
}
.active-3 {
  transform: translateX(calc(1.2rem * 2 + 8px * 2));
}
/*
=============== 
Output
===============
*/

.output {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--screen-background);
  text-align: right;
  color: var(--text-color);
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

/*
=============== 
Calculator
===============
*/
.calculator {
  padding: 2rem;
  background-color: var(--toggle-background);
  border-radius: 0.5rem;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.25rem;
}

.button {
  padding: 1rem;
  /* width: 3.5rem; */
  border-radius: 0.5rem;
  background-color: var(--special-key-background);
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 5px 1px var(--special-key-shadow);
  color: var(--text-color);
}

.button:hover {
  background-color: var(--special-key-hover);
}

.button:active,
.button:focus {
  /* Styles pour simuler l'effet de clic */
  transform: translateY(1px);
  box-shadow: 0px 3px 1px var(--special-key-shadow);
}

.delete {
  font-size: 1.5rem;
  background-color: var(--key-background);
  color: var(--text-white);
  box-shadow: 0px 5px 1px var(--key-shadow);
}

.delete:hover {
  background-color: var(--key-background-hover);
}

.buttons-function {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-function .button {
  width: calc(50% - 0.625rem);
}

.reset,
.equal {
  color: var(--text-white);
}

.equal {
  background-color: var(--toggle-key-background);
  box-shadow: 0px 5px 1px var(--toggle-key-shadow);
}

.equal:hover {
  background-color: var(--toggle-key-hover);
}

.reset {
  background-color: var(--key-background);
  box-shadow: 0px 5px 1px var(--key-shadow);
}

.reset:hover {
  background-color: var(--key-background-hover);
}
